:root{

  /* Colors*/
    --color-text: #fff;
    --color-primary: #4b64ca;
    --color-secondary: #03173e;
    --color-dark: #0b2447;
    --color-bg: #04152d;

  /* Fonts */
  --font-robot: 'Roboto, sans-serif';

}